.wrapper{
    width: 100%;
}
.image{
    width: 100%;
    text-align: center;
    img{
       width: 100% ;
        height: 10rem;
        object-fit: contain;
    }
}
.name{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top:15px ;
    white-space: nowrap;
}
.price{
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

.btn-add-cart  {
    width: 100% ;
    text-align: center;
    padding-bottom: 15px;
}