.image-side{
    display : flex ;
}

.product-pick-model{
    padding-top: 6rem;
    .title-pick-model{
        width : 100% ;
        text-align: center;
        font-weight: 600;
    }
    .top-product{
        padding: 4vh 16vw;
        display: grid;
        grid-template-columns: auto auto auto auto;

    }
    .top-product-item{
        margin : 16px 16px
       
    }
    .btn-view-detail{
        text-align: center;
        padding-bottom: 15px;
    }

}