.wrapper{
    height: 100% ;
}

.drop-menu{
    width: 100%;
    min-height: 350px;
    background-color: #ffff;
    z-index: 1;
    position: absolute;
    left: 0;
    margin-top: 2px;
    color: #0000;
    display: flex;
    padding: 0.5rem 16vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.drop-menu.active{
    opacity: 1 ;
    visibility: visible;
    transition: 0.5s ease;
}
.drop-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}